<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <img width="150" alt="Angular Logo" src="./../assets/images/logo.png">
</div>
<div style="text-align:center; width: 90%; margin: 0 auto;">
  <h3 class="first">Players:</h3>
  <p-chips 
    [inputStyleClass]="chips-player" 
    (onAdd)="onPlayersChange()" 
    (onRemove)="onPlayersChange()" 
    [(ngModel)]="players" 
    [allowDuplicate]="false" 
  ></p-chips>
  
  <h3>Number of players by team ({{maxNumberOfPlayers}} max):</h3>

  <div style="display: inline-block;">
    <input type="number" style="width:14em" pInputText
    [disabled]="players.length === 0"  
    [max]="maxNumberOfPlayers" 
    [min]="1" 
    [(ngModel)]="numberOfPlayers" /><br>
  <button style="margin: 10px" icon="pi pi-check" label="Create Teams" pButton type="button"
    [disabled]="players.length === 0 || numberOfPlayers > maxNumberOfPlayers || numberOfPlayers === null"  
    (click)="onGenerateTeam()"
  ></button>
  <div style="margin: 10px;">
    <p-table [style]="{margin: '10px'}" *ngFor="let team of teams; let i = index" [value]="team">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            {{cols[i].label}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr>
          <td>
            {{player}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>



</div>