/* You can add global styles to this file, and also import other style files */

.chips-player {
    position: absolute;
    width: 100%;
}
 
body .ui-chips > ul.ui-inputtext .ui-chips-token {
    background: #e45536 !important; 
}

body .ui-button {
    background-color: #b71c0f !important;
    border: 1px solid #c02212 !important;
}